.DS_Store
xcuserdata/
*.xcuserstate
*.xcscmblueprint
DerivedData/
build/
.build/
.spm/
*.xcresult
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output/
vendor/bundle/
.env
*.p8
*.p12
*.mobileprovision

.swiftpm/xcode/package.xcworkspace/xcuserdata/
!Bearing.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
